* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Top Head Section Start*/
.top-head {
    background-color: #138f13;
    padding: 5px 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.top-head p {
    display: inline;
}

.top-head a {
    text-decoration: none;
}

/*Top Head Section end*/

/*Header Section Start*/
header {
    color: #fff;
    background-color: #1fbc1f;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0px 100px;
}

header h1,
header h4 {
    display: inline;
}

/*Header Section End*/

/* Nav Section Start*/
nav {
    background-color: #47eb47;
    padding: 5px 100px;
    width: 100%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

/* Nav Section End*/

/* Main Section Start*/
.main {
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
}

.main article {
    padding: 20px 20px 0px 20px;
}

.main article a {
    text-decoration: none;
    color: #1fbc1f;
}

.main article p {
    text-align: justify;
    margin: 5px 0px;
}

.sujay {
    margin-left: 80px;
    border-left: 2px solid #068223;
    padding-left: 5px;
}

.main article ul {
    padding: 15px 0px 30px 30px;
}
.main article ol{
    padding: 10px 0px 0px 40px;
}

aside {
    background-color: silver;
    padding: 15px 100px 50px 15px;
    height:500px;

}
aside h3{
    padding: 10px 0px;
}

aside ul li {
    list-style: none;
    margin-left: 20px;
}

/* Main Section End*/

/* Footer Section Start*/
footer {
    background-color: #044604;
    width: 100%;
    color: #fff;
    padding: 10px 100px;
    height: 120px;
}

footer .first {
    float: left;
    margin-right: 100px;
}

footer .first h4 a,footer .second h4 a{
    color: #9acd32;
    text-decoration: none;
}
footer .first h5 a {
    text-decoration: none;
    color: #fff;
}

footer .second {
    float: left;
}


footer .second h5 a {
    text-decoration: none;
    color: #fff;
}

footer .third {
    float: right;
}
footer .first h4, footer .second h4 {
padding-bottom: 15px;
}
footer .third h4{
    color: #9acd32;
}

/* Footer Section End*/

/*Media Query Start*/
@media screen and (max-width:991px) {
    .top-head {
        height: auto;
        padding: 10px;
    }

    .top-head ul li {
        display: block;
    }

    header,
    nav {
        padding: 0px 10px;

    }

    section {
        padding: 0px 0px 0px 10px;
    }

}

@media screen and(max-width:767px) {

    section main,
    section aside {
        float: none;
        width: 100%;
        padding: 0px;
    }
    footer .first,footer .second, footer .third{
        float: none;
        width: 100%;
        text-align: center;
       
    }

}

@media screen and(max-width:575px) {
    header {
        line-height: normal;
    }

    header h1,
    header h4 {
        padding-top: 10px;
        display: block;
    }

}

/*Media Query End*/